@page
@using TravelAllowance.Model
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee[0].TravelAttribute.TravelType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee[0].TravelAttribute.TravelDistance)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var x in Model.Employee)
    {
        <tr class="border text-center">
            <td>@x.Name</td>

            @{
                string travelTypeDisplayName = TravelTypeIdToStringMapper.TryMapTravelTypeIdToString(x.TravelAttribute.TravelType) ?? "Unknown travel type";
            }
            <td>@travelTypeDisplayName</td>
            
            <td>@x.TravelAttribute.TravelDistance</td>

            <td>
                    <form method="post" asp-page-handler="ViewDetailsBtn" asp-route-name=@x.Name>
                        <input class="form-control"
                               type="month" 
                               data-val="true" 
                               data-val-required="Required"
                               id="selectedMonth" 
                               name="selectedMonth" 
                               value=@DateTime.UtcNow.Month/>
                    <input type="submit" value="Get overview" class="btn btn-sm"/>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

